<form novalidate name="formulario">
	<div class="form-group row">
   		<label for="selectRegiao">Regi&atilde;o</label>
   		<select class="form-control" id="selectRegiao" placeholder="Selecione a região" 
   		        ng-model="idRegiaoSelecionada"
   		        ng-options="regiao.id as regiao.nome for regiao in regioes | orderBy:'+nome'"
   		        ng-change="populaSelectFiltro()"
   		        required>
   		</select>
  	</div>
  	<div class="form-group row">
	   	<label for="selectRegiao">M&ecirc;s e ano</label>
   		<select class="form-control" id="selectFiltro" placeholder="Selecione a o filtro de mês e ano" 
   		        ng-model="filtroSelecionado"
   		        ng-options="filtro.nomeMes | lowercase for filtro in filtros | orderBy:['-ano','-mes'] | limitTo:24"
   		        required>
   		</select>
  	</div>
  	<div class="form-group row">
		<a 
			href="{{urlLink}}?regiao={{idRegiaoSelecionada}}&ano={{filtroSelecionado.ano}}&mes={{filtroSelecionado.mes}}" 
			class="btn btn-primary btn-block" 
			ng-show="{{mostrarLink}}"
			ng-disabled="formulario.$invalid">{{titulo}}  				
		</a>
		<button 
			ng-click="onClick(paramRegiao, paramMes, paramAno)" 
			class="btn btn-primary btn-block" 
			ng-show="{{mostrarBotao}}"
			ng-disabled="formulario.$invalid">{{titulo}}
		</button>
  	</div>
</form>