<form novalidate name="formulario">
	<div class="form-group row">
   		<label for="selectRegiao">Regi&atilde;o</label>
   		<select class="form-control" id="selectRegiao" placeholder="Selecione a região" 
   		        ng-model="idRegiaoSelecionada"
   		        ng-options="regiao.id as regiao.nome for regiao in regioes | orderBy:'+nome'"
   		        required>
   		</select>
  	</div>
  	<div class="form-group row">
	   	<label for="selectRegiao">Ano</label>
   		<select class="form-control" id="selectFiltro" placeholder="Selecione a o filtro de ano" 
   		        ng-model="anoSelecionado"
   		        ng-options="filtro.ano for filtro in anos | orderBy:['-ano'] | limitTo:24"
   		        required>
   		</select>
  	</div>
  	<div class="form-group row">
		<a 
			href="{{urlLink}}?regiao={{idRegiaoSelecionada}}&ano={{anoSelecionado}}" 
			class="btn btn-primary btn-block" 
			ng-show="{{mostrarLink}}"
			ng-disabled="formulario.$invalid">{{titulo}}
		</a>
		<button
			ng-click="onClick(paramRegiao, paramAno)" 
			class="btn btn-primary btn-block" 
			ng-show="{{mostrarBotao}}"
			ng-disabled="formulario.$invalid">{{titulo}}
		</button>
  	</div>
</form>